/* *{
    border: 1px solid red;
} */

body{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    line-height: 1.5px;
}
h1 {
    text-align: center;
    font-size: 100px;
    color: rosybrown;
}
ul {
    /* list-style-type:none; */
    padding-inline-start: 0px;
    margin-block-end: 0em;
}
li, label {
    border-bottom: 1px black;
    font-size: 24px;
}
#list {
    background-color: #ffffff;
    list-style-type:none;
}
#form1 {
    display: flex;
    border: none;
    padding: 16px 235px 16px 60px;
    justify-content: space-between;
}
.footer {
    color: #bfbfbf;
}
.footer {
    color: #bfbfbf;
    font-size: 10px;
    text-align: center;
}
/* för att få bort länk designen */
a {
    color: #bfbfbf;
    text-decoration: none;
}
#section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 10px 15px solid; */
    height: 20px;
    align-content: center;
}
button {
    color:inherit;
    border: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid gray;
   /*  flex: 1,5,  1; */
}

#input  {
    display: flex;
    flex-direction: row;
}

#reset {
    width: 100px;
    height: 50px;
}

#reset svg {
    width: 25px;
    height: 25px;
}

.delbutton {
color: #cc9a9a;
background: url(cross.svg);
}


.divCheckBox {
    background: url(checkbox-unchecked.svg);
    background-size: contain;
}
.checkBox {
    visibility: hidden;
    
}