/* *{

    border: 1px solid red; 
}  */

body{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    line-height: 1.5px;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: rosybrown;
}

ul {

    list-style-type:none;
    margin: 0;
    padding: 0;
}   

li, label {
    border-bottom: 1px black;
    font-size: 24px;
}

#list {
    background-color: #ffffff;
    list-style-type:none;
}

#form1 {
    display: flex;
    border: none;
    padding: 16px 235px 16px 60px;
    justify-content: flex-end;
}

.footer {
    color: #bfbfbf;
}

.footer {
    color: #bfbfbf;
    font-size: 10px;
    text-align: center;
}

/* för att få bort länk designen */
a {
    color: #bfbfbf;
    text-decoration: none;
}

#section {
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-content: center;
}

button {
    color:inherit;
    border: none;
}

/* Allt knappen i inputen */
#input  {
    display: flex;
    flex-direction: row;
}

/* X knappen*/
 #list button {
    background-color: red;
} 

